<div class="contact-section">
  <!-- Image d'une table d'hôtes -->
  <img src="assets/images/Grenier2.png" class="full-width-image" />

  <!-- Section Contact et Accès -->
  <div class="contact-content">
    <div class="contact-info">
      <h2>Contact & Accès</h2>
      <p>
        Nous serons heureux de vous accueillir au sein de notre hôtel de charme
        au centre de Strasbourg, à deux pas de la cathédrale. Pour plus
        d'informations sur nos tarifs et pour procéder à une réservation,
        n'hésitez pas nous contacter directement par téléphone ou à remplir le
        formulaire ci-dessous.
      </p>
      <div class="icon-text-group">
        <mat-icon>location_on</mat-icon>
        <span>1 Rue du Vieux-Marché-aux-Poissons, 67000, Strasbourg</span>
      </div>
      <div class="icon-text-group">
        <mat-icon>phone_iphone</mat-icon>
        <span>07 49 95 90 24</span>
      </div>
      <div class="icon-text-group">
        <mat-icon>alternate_email</mat-icon>
        <span>Email de contact</span>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/Plan1.png" />
    </div>
  </div>

  <!-- Formulaire de Contact -->
  <div class="contact-form">
    <h2>Envoyez nous un message !</h2>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <div class="form-row">
        <mat-form-field class="form-group">
          <mat-label for="name">Nom</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Votre nom"
          />
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label for="email">Adresse Mail</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Votre adresse mail"
          />
        </mat-form-field>
      </div>
      <mat-form-field class="form-group">
        <mat-label for="subject">Sujet</mat-label>
        <input
          matInput
          type="text"
          formControlName="subject"
          placeholder="Sujet de votre message"
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label for="message">Message</mat-label>
        <textarea
          matInput
          formControlName="message"
          placeholder="Votre message"
        ></textarea>
      </mat-form-field>
      <button type="submit">Envoyer</button>
    </form>
  </div>
</div>
