<mat-form-field appearance="fill">
  <mat-select
    class="language-dropdown"
    (openedChange)="onOpenedChange($event)"
    [formControl]="languagesAbreviationForm"
  >
    <mat-select-trigger>
      <div class="option-content">
        <img
          [src]="
            getFlagIconPath(getSelectedLanguage(languagesAbreviationForm.value))
          "
        />
        <span class="text-header-format">
          {{ getSelectedLanguage(languagesAbreviationForm.value).name }}
        </span>
      </div>
    </mat-select-trigger>
    @for (lang of languages; track lang) {
    <mat-option [value]="lang.abreviation">
      <div class="option-content">
        <img [src]="getFlagIconPath(lang)" />
        <span class="text-header-format">
          {{ lang.name }}
        </span>
      </div>
    </mat-option>
    }
  </mat-select>
  <mat-icon
    class="icon-style"
    [ngClass]="{ 'arrow-orientation': dropdownOpened }"
    matSuffix
    >keyboard_arrow_down</mat-icon
  >
</mat-form-field>
