<div class="accueil-page">
  <img src="assets/images/Grenier2.png" class="full-width-image" />
  <div class="accueil-section">
    <p class="title-body-format categories-title">
      {{ "HOME.SERVICE_TITLE" | translate }}
    </p>
    <div class="icon-row-grid">
      <div class="icon-description-container">
        <mat-icon class="service-icon">wifi</mat-icon>
        <p class="text-body-format">{{ "HOME.SERVICES.WIFI" | translate }}</p>
      </div>
      <div class="icon-description-container">
        <mat-icon class="service-icon">accessible</mat-icon>
        <p class="text-body-format">
          {{ "HOME.SERVICES.ACCESSIBLITY" | translate }}
        </p>
      </div>
      <div class="icon-description-container">
        <mat-icon class="service-icon">flight_land</mat-icon>
        <p class="text-body-format">{{ "HOME.SERVICES.TRIP" | translate }}</p>
      </div>
      <div class="icon-description-container">
        <mat-icon class="service-icon">favorite</mat-icon>
        <p class="text-body-format">
          {{ "HOME.SERVICES.PERSONNAL" | translate }}
        </p>
      </div>
      <div class="icon-description-container">
        <mat-icon class="service-icon">event_busy</mat-icon>
        <p class="text-body-format">
          {{ "HOME.SERVICES.CANCELATION" | translate }}
        </p>
      </div>
    </div>
    <div class="icon-row-grid">
      <div class="icon-description-container">
        <mat-icon class="service-icon">local_bar</mat-icon>
        <p class="text-body-format">{{ "HOME.SERVICES.BARMAN" | translate }}</p>
      </div>
      <div class="icon-description-container">
        <mat-icon class="service-icon">movie</mat-icon>
        <p class="text-body-format">
          {{ "HOME.SERVICES.RELAXATION" | translate }}
        </p>
      </div>
      <div class="icon-description-container">
        <mat-icon class="service-icon">room_service</mat-icon>
        <p class="text-body-format">
          {{ "HOME.SERVICES.ROOM_SERVICE" | translate }}
        </p>
      </div>
      <div class="icon-description-container">
        <mat-icon class="service-icon">cake</mat-icon>
        <p class="text-body-format">
          {{ "HOME.SERVICES.BIRTHDAYS" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
