@import "../../../../styles/colors.scss";

// Header section
.contact-section {
  align-items: center;
  text-align: center;
  background-color: $white;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

// Section Contact et Accès
.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: auto;
  margin-top: 25px;
  gap: 10px;
}

.contact-info {
  text-align: left;
}

.image-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.image-container img {
  height: 330px;
  width: auto;
  align-items: left;
  object-fit: scale-down;
}

.icon-text-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-text-group mat-icon {
  padding-right: 10px;
  color: $blue;
}

.icon-text-group span {
  white-space: nowrap;
}

// Formulaire de Contact
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
  display: block;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  flex: 1;
  margin-right: 20px;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.message-textarea {
  min-height: 100px;
  resize: none;
}

:host ::ng-deep .mat-mdc-form-field-required-marker {
  color: red;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 50%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-button:not([disabled]) {
  background-color: $blue;
}
.submit-button[disabled] {
  background-color: gray;
}

.submit-button:not([disabled]):hover {
  background-color: $hover-blue;
}

:host ::ng-deep .mdc-circular-progress {
  position: absolute;
}
