<div class="contact-section">
  <!-- Image d'une table d'hôtes -->
  <img src="assets/images/Grenier2.png" class="full-width-image" />

  <!-- Section Contact et Accès -->
  <div class="contact-content">
    <div class="contact-info">
      <h2>{{ "CONTACT.CONTACT_ACCES" | translate }}</h2>
      <p>
        {{ "CONTACT.PRESENTATION" | translate }}
      </p>
      <div class="icon-text-group">
        <mat-icon>location_on</mat-icon>
        <span>1 Rue du Vieux-Marché-aux-Poissons, 67000, Strasbourg</span>
      </div>
      <div class="icon-text-group">
        <mat-icon>phone_iphone</mat-icon>
        <span>07 49 95 90 24</span>
      </div>
      <div class="icon-text-group">
        <mat-icon>alternate_email</mat-icon>
        <span> {{ "CONTACT.CONTACT_MAIL" | translate }}</span>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/Plan1.png" />
    </div>
  </div>

  <!-- Formulaire de Contact -->
  <div class="contact-form">
    <h2>{{ "CONTACT.ENVOYEZ_MESSAGE" | translate }}</h2>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <div class="form-row">
        <mat-form-field class="form-group">
          <mat-label for="name">{{ "CONTACT.NOM" | translate }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            [placeholder]="'CONTACT.PLACEHOLDERS.NOM' | translate"
          />
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label for="email">{{
            "CONTACT.USER_MAIL" | translate
          }}</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            [placeholder]="'CONTACT.PLACEHOLDERS.MAIL' | translate"
          />
        </mat-form-field>
      </div>
      <mat-form-field class="form-group">
        <mat-label for="subject">{{ "CONTACT.SUJET" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="subject"
          [placeholder]="'CONTACT.PLACEHOLDERS.SUJET_MESSAGE' | translate"
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label for="message">{{ "CONTACT.MESSAGE" | translate }}</mat-label>
        <textarea
          matInput
          formControlName="message"
          [placeholder]="'CONTACT.PLACEHOLDERS.VOTRE_MESSAGE' | translate"
        ></textarea>
      </mat-form-field>
      <button type="submit">{{ "CONTACT.ENVOYER" | translate }}</button>
    </form>
  </div>
</div>
