<div class="contact-section">
  <!-- Image d'une table d'hôtes -->
  <img src="assets/images/Grenier2.png" class="full-width-image" />

  <!-- Section Contact et Accès -->
  <div class="contact-content">
    <div class="contact-info">
      <span class="title-body-format">{{
        "CONTACT.CONTACT_ACCES" | translate
      }}</span>
      <p class="text-body-format">
        {{ "CONTACT.PRESENTATION" | translate }}
      </p>
      <div>
        <div class="icon-text-group">
          <mat-icon>location_on</mat-icon>
          <span class="text-body-format">{{ address }}</span>
        </div>
        <div class="icon-text-group">
          <mat-icon>alternate_email</mat-icon>
          <span class="text-body-format">{{ contactMail }}</span>
        </div>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/images/Plan1.png" />
    </div>
  </div>

  <!-- Formulaire de Contact -->
  <div class="contact-form">
    <span class="title-body-format">{{
      "CONTACT.ENVOYEZ_MESSAGE" | translate
    }}</span>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <div class="form-row">
        <mat-form-field class="form-group">
          <mat-label for="name">{{ "CONTACT.NOM" | translate }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            [placeholder]="'CONTACT.PLACEHOLDERS.NOM' | translate"
            [maxlength]="FormMaxLength.NAME"
          />
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label for="email">{{
            "CONTACT.USER_MAIL" | translate
          }}</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            [placeholder]="'CONTACT.PLACEHOLDERS.MAIL' | translate"
            [maxlength]="FormMaxLength.EMAIL"
          />
        </mat-form-field>
      </div>
      <mat-form-field class="form-group">
        <mat-label for="subject">{{ "CONTACT.SUJET" | translate }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="subject"
          [placeholder]="'CONTACT.PLACEHOLDERS.SUJET_MESSAGE' | translate"
          [maxlength]="FormMaxLength.SUBJECT"
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label for="message">{{ "CONTACT.MESSAGE" | translate }}</mat-label>
        <textarea
          matInput
          class="message-textarea"
          formControlName="message"
          [placeholder]="'CONTACT.PLACEHOLDERS.VOTRE_MESSAGE' | translate"
          [maxlength]="FormMaxLength.MESSAGE"
        ></textarea>
      </mat-form-field>
      <button
        class="button-body-format submit-button"
        type="submit"
        [disabled]="loadingSubmit"
      >
        @if(loadingSubmit) {
        <mat-spinner diameter="30"></mat-spinner>
        } @else {
        {{ "CONTACT.ENVOYER" | translate }}
        }
      </button>
    </form>
  </div>
</div>
