<div class="meal-widget">
  <div class="meal-image-container">
    <img
      [ngClass]="{ 'meal-image-fade': chefNameHovering }"
      [src]="imageUrl"
    />
    <img
      class="meal-image-absolute"
      [ngClass]="{ 'meal-image-fade': !chefNameHovering }"
      [src]="chefData.picturePath"
    />
  </div>
  <div class="meal-details">
    <div class="meal-header">
      <div class="meal-display-row">
        <p class="title-widget-format meal-title">{{ mealTitle }}</p>
        <p class="title-widget-format price">{{ price }}</p>
      </div>
      <p
        class="subtitle-widget-format chef-name"
        (mouseenter)="onMouseEnterChefName()"
        (mouseleave)="onMouseOutChefName()"
      >
        {{ chefData.name }}
      </p>
    </div>
    <p class="text-widget-format meal-description">{{ description }}</p>
    @if(allergies.length > 0) {
    <div class="allergens-row">
      @for(allergy of allergies; track allergy) {
      <div
        class="allergen-image"
        matTooltipClass="allergen-tooltip"
        [matTooltip]="allergy.tooltip | translate"
      >
        <img [src]="allergy.logoPath" />
      </div>
      }
    </div>
    }
  </div>
</div>
