@import "../../../../../styles/colors.scss";

.meal-widget {
  display: flex;
  background-color: white;
  border-radius: 5px 0 0 5px;
  box-shadow: 5px 5px 5px $shadow-gray;
  height: 30vh;
  width: 30vw;
}

.meal-image {
  border-radius: inherit;
}

.meal-image img {
  width: auto;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.meal-details {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  flex-grow: 1;
}

.meal-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
}

.meal-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  width: 100%;
}

.price {
  color: green;
  margin: 0;
  padding: 0;
}

.chef-name {
  display: flex;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.meal-display-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.meal-description {
  overflow: overlay;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.allergens {
  margin: 0;
  padding: 0;
}
