<div class="meal-widget">
  <div class="meal-image">
    <img [src]="imagePath" />
  </div>
  <div class="meal-details">
    <div class="meal-header">
      <div class="meal-display-row">
        <p class="title-widget-format meal-title">{{ mealTitle }}</p>
        <p class="title-widget-format price">{{ price }}</p>
      </div>
      <p class="subtitle-widget-format chef-name">{{ chefName }}</p>
    </div>
    <p class="text-body-format">{{ description }}</p>
    <!-- <div class="meal-display-row">
      <p class="allergens">Allergènes</p>
    </div> -->
  </div>
</div>
