@import "../../../../../styles/colors.scss";

.meal-widget {
  display: flex;
  background-color: white;
  border-radius: 5px 0 0 5px;
  box-shadow: 5px 5px 5px $shadow-gray;
  height: 30vh;
  width: 35vw;
}

.meal-image {
  border-radius: inherit;
}

.meal-image img {
  width: auto;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.meal-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.meal-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
}

.meal-title {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

.price {
  color: green;
  margin: 0;
  padding: 0;
}

.chef-name {
  display: flex;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  cursor: default;
}

.meal-display-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.meal-description {
  display: flex;
  align-items: center;
  overflow: overlay;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.allergens-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.allergen-image {
  height: 32px;
  width: 32px;
}

.allergen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
