<mat-toolbar class="homepage-toolbar" color="primary">
  <span>Le Grenier</span>
  <span class="spacer"></span>
  <nav>
    <mat-list class="homepage-navigation">
      <a class="routing-item" mat-list-item routerLink="/accueil">{{
        "HOMEPAGE.ACCUEIL" | translate
      }}</a>
      <a class="routing-item" mat-list-item routerLink="/chambres">{{
        "HOMEPAGE.CHAMBRES" | translate
      }}</a>
      <a class="routing-item" mat-list-item routerLink="/restauration">{{
        "HOMEPAGE.RESTAURATION" | translate
      }}</a>
      <a class="routing-item" mat-list-item routerLink="/contact">{{
        "HOMEPAGE.CONTACT" | translate
      }}</a>
    </mat-list>
  </nav>
  <app-language-dropdown class="language-dropdown"></app-language-dropdown>
</mat-toolbar>

<router-outlet></router-outlet>
