<!-- Header -->
<mat-toolbar class="homepage-toolbar">
  <div class="homepage-toolbar-logo" routerLink="/accueil">
    <span class="logo-header-format">Le </span>
    <img class="homepage-logo" src="assets/images/logo2.png" />
    <span class="logo-header-format">renier</span>
  </div>
  <span class="spacer"></span>
  <nav class="homepage-navigation-row">
    <mat-list class="homepage-navigation">
      <a
        class="routing-item title-header-format"
        mat-list-item
        routerLink="/accueil"
        [autofocus]="getAutofocus('/accueil')"
        >{{ "HOMEPAGE.HEADER.ACCUEIL" | translate }}</a
      >
      <a
        class="routing-item title-header-format"
        mat-list-item
        routerLink="/chambres"
        [autofocus]="getAutofocus('/chambres')"
        >{{ "HOMEPAGE.HEADER.CHAMBRES" | translate }}</a
      >
      <a
        class="routing-item title-header-format"
        mat-list-item
        routerLink="/restauration"
        [autofocus]="getAutofocus('/restauration')"
        >{{ "HOMEPAGE.HEADER.RESTAURATION" | translate }}</a
      >
      <a
        class="routing-item title-header-format"
        mat-list-item
        routerLink="/contact"
        [autofocus]="getAutofocus('/contact')"
        >{{ "HOMEPAGE.HEADER.CONTACT" | translate }}</a
      >
    </mat-list>
  </nav>
  <app-language-dropdown class="language-dropdown"></app-language-dropdown>
</mat-toolbar>

<!-- Page content -->
<div class="header-body-spacer"></div>
<router-outlet class="page-content"></router-outlet>

<!-- Footer -->
<footer class="homepage-footer">
  <div class="footer-info">
    <img class="footer-logo" src="assets/images/logo1.png" />
    <div class="contact-info">
      <span class="text-footer-format contact-info-text"> {{ address }} </span>
      <span class="text-footer-format contact-info-text">
        {{ contactMail }}
      </span>
      <span class="text-footer-format contact-info-text">
        {{ contactPhone }}
      </span>
    </div>
  </div>
  <div class="footer-links">
    <div class="footer-links-routing">
      <a class="text-footer-format routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.LEGAL" | translate }}
      </a>
      <a class="text-footer-format routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.CONFIDENTIALITY" | translate }}
      </a>
      <a class="text-footer-format routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.CGV" | translate }}
      </a>
      <a class="text-footer-format routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.FAQ" | translate }}
      </a>
    </div>
    <p class="text-footer-format footer-trademark">&copy; {{ trademark }}</p>
    <div class="footer-profile-link">
      <p class="text-footer-format" style="margin: 0">Created by:&nbsp;</p>
      <a
        class="text-footer-format profile-link"
        href="https://www.linkedin.com/in/timoth%C3%A9-joulia-b%C3%A9a-481346204/"
        target="_blank"
      >
        Timothé JOULIA-BEA</a
      >
    </div>
  </div>
</footer>
