<!-- Header -->
<mat-toolbar class="homepage-toolbar" color="primary">
  <span> Le </span>
  <img class="homepage-logo" src="assets/images/logo2.png" />
  <span>renier</span>
  <span class="spacer"></span>
  <nav>
    <mat-list class="homepage-navigation">
      <a class="routing-item" mat-list-item routerLink="/accueil">{{
        "HOMEPAGE.HEADER.ACCUEIL" | translate
      }}</a>
      <a class="routing-item" mat-list-item routerLink="/chambres">{{
        "HOMEPAGE.HEADER.CHAMBRES" | translate
      }}</a>
      <a class="routing-item" mat-list-item routerLink="/restauration">{{
        "HOMEPAGE.HEADER.RESTAURATION" | translate
      }}</a>
      <a class="routing-item" mat-list-item routerLink="/contact">{{
        "HOMEPAGE.HEADER.CONTACT" | translate
      }}</a>
    </mat-list>
  </nav>
  <app-language-dropdown class="language-dropdown"></app-language-dropdown>
</mat-toolbar>

<!-- Page content -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="homepage-footer">
  <div class="footer-info">
    <img class="footer-logo" src="assets/images/logo1.png" />
    <div class="contact-info">
      <span class="contact-info-text"> {{ address }} </span>
      <span class="contact-info-text"> {{ contactMail }} </span>
      <span class="contact-info-text"> {{ contactPhone }} </span>
    </div>
  </div>
  <div class="footer-links">
    <div class="footer-links-routing">
      <a class="routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.LEGAL" | translate }}
      </a>
      <a class="routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.CONFIDENTIALITY" | translate }}
      </a>
      <a class="routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.CGV" | translate }}
      </a>
      <a class="routing-item-footer" routerLink="#">
        {{ "HOMEPAGE.FOOTER.FAQ" | translate }}
      </a>
    </div>
    <p class="footer-trademark">&copy; {{ trademark }}</p>
    <div class="footer-profile-link">
      <p style='margin: 0;'>Created by:&nbsp;</p>
      <a
        class="profile-link"
        href="https://www.linkedin.com/in/timoth%C3%A9-joulia-b%C3%A9a-481346204/"
        target="_blank"
      >
        Timothé JOULIA-BEA</a
      >
    </div>
  </div>
</footer>
