.homepage-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-logo {
  height: 100%;
  max-height: 100%;
  width: auto;
  margin-right: 1%;
}

.spacer {
  flex: 1 1 auto;
}

.homepage-navigation {
  display: flex;
  align-items: center;
}

.routing-item {
  display: flex;
  min-width: 150px;
  white-space: nowrap;
  text-align: center;
}

.language-dropdown {
  display: flex;
  height: 80%;
  width: auto;
}
