$black: #000101;
$blue: #3a545f;
$khaki: #b4a07a;
$pink: #84596b;
$white: #f9f7f0;
$green: #465f45;
$red: #8e3337;

$hover-blue: #003399;
$shadow-gray: rgb(220, 214, 214);

$icon-gray: rgba(0, 0, 0, 0.54);
