<div class="reservation-container">
  <div class="up-spacer"></div>
  <div class="image-container">
    <img src="assets/images/icon_chambre.png" class="reservation-image" />
  </div>
  <form
    class="reservation-form"
    [formGroup]="reservationForm"
    (ngSubmit)="submitForm()"
  >
    <div class="all-form-fields">
      <mat-form-field
        class="date-form-field"
        appearance="fill"
        (click)="startPicker.open()"
      >
        <mat-label>{{
          "ROOMS.RESERVATION.ARRIVAL_DATE" | translate
        }}</mat-label>
        <input
          matInput
          class="date-input"
          formControlName="startDate"
          [matDatepicker]="startPicker"
          [min]="minStartDate"
          [max]="maxStartDate"
          [placeholder]="datePlaceholder"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="startPicker"
          ><mat-icon
            class="icon-style"
            [ngClass]="{ 'arrow-orientation': arrivalPopupOpened }"
            matDatepickerToggleIcon
            >keyboard_arrow_down</mat-icon
          ></mat-datepicker-toggle
        >
        <mat-datepicker
          #startPicker
          (opened)="arrivalPopupOpened = true"
          (closed)="arrivalPopupOpened = false"
        ></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        class="date-form-field"
        appearance="fill"
        (click)="endPicker.open()"
      >
        <mat-label>{{
          "ROOMS.RESERVATION.DEPARTURE_DATE" | translate
        }}</mat-label>
        <input
          matInput
          class="date-input"
          formControlName="endDate"
          [matDatepicker]="endPicker"
          [min]="minEndDate"
          [max]="maxEndDate"
          [placeholder]="datePlaceholder"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="endPicker"
          ><mat-icon
            class="icon-style"
            [ngClass]="{ 'arrow-orientation': departurePopupOpened }"
            matDatepickerToggleIcon
            >keyboard_arrow_down</mat-icon
          ></mat-datepicker-toggle
        >
        <mat-datepicker
          #endPicker
          (opened)="departurePopupOpened = true"
          (closed)="departurePopupOpened = false"
        ></mat-datepicker>
      </mat-form-field>

      <div class="checbox-row">
        <div
          #childrenCheckboxContainer
          class="checkbox-container"
          (click)="childrenCheckboxToggle()"
          [class.element-focused]="childrenCheckboxFocused"
        >
          <mat-checkbox
            #childrenCheckbox
            type="checkbox"
            formControlName="hasChildren"
            disableRipple="true"
            (click)="childrenCheckboxToggle($event)"
          />
          <div class="label-container">
            <mat-label>{{
              "ROOMS.RESERVATION.CHILDREN" | translate
            }}</mat-label>
          </div>
        </div>
        <div
          #petsCheckboxContainer
          class="checkbox-container"
          (click)="petsCheckboxToggle()"
          [class.element-focused]="petsCheckboxFocused"
        >
          <mat-checkbox
            #petsCheckbox
            type="checkbox"
            formControlName="hasPets"
            disableRipple="true"
            (click)="petsCheckboxToggle($event)"
          />
          <div class="label-container">
            <mat-label>{{ "ROOMS.RESERVATION.ANIMALS" | translate }}</mat-label>
          </div>
        </div>
      </div>

      <mat-form-field class="form-field-message">
        <mat-label for="message">{{ "CONTACT.MESSAGE" | translate }}</mat-label>
        <textarea
          matInput
          class="message-textarea"
          formControlName="message"
          [placeholder]="'CONTACT.PLACEHOLDERS.VOTRE_MESSAGE' | translate"
          [maxlength]="messageMaxLength"
        ></textarea>
      </mat-form-field>
    </div>

    <button
      class="button-body-format submit-button"
      type="submit"
      [disabled]="loadingSubmit"
    >
      @if(loadingSubmit) {
      <mat-spinner diameter="30"></mat-spinner>
      } @else {
      {{ "RESTAURATION.RESERVATION.RESERVATION" | translate }}
      }
    </button>
  </form>
  <div class="down-spacer"></div>
</div>
