<google-map
  [height]="height"
  [width]="width"
  [zoom]="mapOptions.zoom"
  [options]="mapOptions"
  [center]="mapOptions.center"
  (click)="moveMap($event)"
>
  <map-marker
    #mapMarker="mapMarker"
    *ngFor="let marker of markers"
    [position]="marker.position"
    [title]="marker.title"
    (mapClick)="openMapInfo(marker.title, mapMarker)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>

  <map-polyline [options]="polylineOptions"></map-polyline>
</google-map>
