.homepage-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

nav .homepage-navigation {
  display: flex;
}

.routing-item {
  display: flex;
  min-width: 150px;
  white-space: nowrap;
  text-align: center;
}
