@import "../../../../../styles/colors.scss";

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host
  ::ng-deep
  .all-form-fields
  > *:first-child
  .mat-mdc-text-field-wrapper {
  border-radius: 10px 10px 0 0;
}

:host
  ::ng-deep
  .all-form-fields
  > *:not(:first-child)
  .mat-mdc-text-field-wrapper {
  border-radius: 0;
}

:host ::ng-deep .all-form-fields > *:last-child .mdc-line-ripple,
:host ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}

:host ::ng-deep .mat-mdc-form-field-required-marker {
  color: red;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

:host ::ng-deep .mat-mdc-text-field-wrapper,
:host ::ng-deep .mat-mdc-form-field-infix,
:host ::ng-deep .mat-mdc-form-field-flex {
  height: 100%;
}

.reservation-container {
  height: 100vh; /* 100% de la hauteur de la fenêtre de visualisation */
  align-items: center;
}

.up-spacer {
  display: flex;
  height: 15vh;
}

.reservation-form {
  display: flex;
  height: 54vh;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px $shadow-gray;
}

.all-form-fields {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.image-container {
  width: auto;
  height: 20vh;
  background-color: $white;
  margin-bottom: 4vh;
}

.reservation-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: scale-down;
}

.reservation-form mat-form-field {
  display: block;
  width: 100%;
}

.date-form-field,
.date-input {
  cursor: pointer;
}

.time-dropdown {
  width: 100%;
}

.form-field-message {
  height: 100%;
}

.message-textarea {
  height: 100%;
  resize: none;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  border: none;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}
.submit-button:not([disabled]) {
  background-color: $blue;
}
.submit-button[disabled] {
  background-color: gray;
}

.submit-button:not([disabled]):hover {
  background-color: $hover-blue;
}

:host ::ng-deep .mdc-circular-progress {
  position: absolute;
}

.down-spacer {
  display: flex;
  height: 7vh;
}
