<mat-form-field appearance="fill" class="dropdown-container">
  <mat-label>{{ "SHARED.TIME" | translate }}</mat-label>
  <mat-select
    (openedChange)="onOpenedChange($event)"
    [formControl]="timeSelectionForm"
    [placeholder]="placeholder"
  >
    @for (time of timeSelection; track time) {
    <mat-option [value]="time.hour" [disabled]="time.disabled">
      <div>
        <span>
          {{ time.hour }}
        </span>
      </div>
    </mat-option>
    }
  </mat-select>
  <mat-icon
    class="icon-style"
    [ngClass]="{ 'arrow-orientation': dropdownOpened }"
    matSuffix
    >keyboard_arrow_down</mat-icon
  >
</mat-form-field>
