@import "../../../../styles/colors.scss";

.restauration-section {
  align-items: center;
  text-align: center;
  background-color: $white;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.up-spacer {
  height: 5vh;
}

.restauration-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 90%;
  gap: 20px;
  margin: auto;
  margin-top: 10px;
}

.spacer {
  height: 10vh;
}

.categories-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

@media (max-width: 1300px) {
  .meal-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (min-width: 1300px) {
  .meal-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.reservation-container {
  position: sticky;
  top: 0px;
  height: fit-content;
  z-index: 1;
}

.down-spacer {
  height: 7vh;
}
