<div class="restauration-section">
  <!-- Image d'une table d'hôtes -->
  <img src="assets/images/Grenier2.png" class="full-width-image" />
  <div class="restauration-container">
    <div>
      <div class="up-spacer"></div>
      <!-- Liste des différentes entrées -->
      <p class="title-body-format categories-title">
        {{ "RESTAURATION.PAGE.ENTRIES" | translate }}
      </p>
      <div class="meal-list">
        @for(meal of entriesList; track meal.id) {
        <app-meal [meal]="meal"></app-meal>
        }
      </div>

      <div class="spacer"></div>
      <!-- Liste des différents plats -->
      <p class="title-body-format categories-title">
        {{ "RESTAURATION.PAGE.MAIN" | translate }}
      </p>
      <div class="meal-list">
        @for(meal of mainList; track meal.id) {
        <app-meal [meal]="meal"></app-meal>
        }
      </div>

      <div class="spacer"></div>
      <!-- Liste des différents desserts -->
      <p class="title-body-format categories-title">
        {{ "RESTAURATION.PAGE.DESSERTS" | translate }}
      </p>
      <div class="meal-list">
        @for(meal of dessertList; track meal.id) {
        <app-meal [meal]="meal"></app-meal>
        }
      </div>
      <div class="down-spacer"></div>
    </div>
    <!-- Reservation non scrollable -->
    <app-reservation class="reservation-container"></app-reservation>
  </div>
</div>
