.restauration-section {
  align-items: center;
  text-align: center;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.restauration-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 90%;
  gap: 20px;
  margin: auto;
  margin-top: 10px;
}

.meal-list {
  // height: 100%;
  height: 1500px;
}

.reservation-container {
  position: sticky;
  top: 0px;
  height: fit-content;
}
