@import "./styles/colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("assets/Fonts/YanoneKaffeesatz-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.title-body-format {
  font-size: 40px;
  color: $khaki;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Fonts/Montserrat-Regular.otf");
  font-weight: lighter;
  font-style: normal;
}

.text-body-format {
  font-size: 16px;
  color: $black;
  font-family: "Montserrat", sans-serif;
}
