@import "./styles/colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Yanone-Kaffeesatz
@font-face {
  font-family: "Yanone-Kaffeesatz-Regular";
  src: url("assets/Fonts/YanoneKaffeesatz-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Yanone-Kaffeesatz-Bold";
  src: url("assets/Fonts/YanoneKaffeesatz-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

// Montserrat
@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/Fonts/Montserrat-Regular.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("assets/Fonts/Montserrat-Regular.otf");
  font-weight: lighter;
  font-style: italic;
}

// Body
.title-body-format {
  font-size: 50px;
  color: $khaki;
  font-family: "Yanone-Kaffeesatz-Regular", sans-serif;
}

.text-body-format {
  font-size: 18px;
  color: $black;
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 160%;
}

.button-body-format {
  font-size: 16px;
  color: $white;
  font-family: "Montserrat-Regular", sans-serif;
}

// Header
.title-header-format {
  font-size: 34px;
  color: $black;
  font-family: "Yanone-Kaffeesatz-Regular", sans-serif;
}

.text-header-format {
  font-size: 17px;
  color: $black;
  font-family: "Montserrat-Regular", sans-serif;
}

.logo-header-format {
  font-size: 43px;
  color: $black;
  font-family: "Yanone-Kaffeesatz-Regular", sans-serif;
}

// Footer
.text-footer-format {
  font-size: 12px;
  color: white;
  font-family: "Montserrat-Regular", sans-serif;
}

// Widget
.title-widget-format {
  font-size: 35px;
  color: $black;
  font-family: "Yanone-Kaffeesatz-Bold", sans-serif;
}

.subtitle-widget-format {
  font-size: 16px;
  color: gray;
  font-family: "Montserrat-Italic", sans-serif;
}

.text-widget-format {
  font-size: 18px;
  color: $black;
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 120%;
}

.indicator-widget-format {
  font-size: 22px;
  color: $blue;
  font-family: "Yanone-Kaffeesatz-Bold", sans-serif;
}

// Snackbars
.error-snackbar {
  --mdc-snackbar-container-color: #8e3337 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  --mat-snack-bar-button-color: black !important;
  white-space: pre-wrap;
  border-radius: var(--mdc-snackbar-container-shape);
}

.success-snackbar {
  --mdc-snackbar-container-color: #465f45 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
  --mat-snack-bar-button-color: black !important;
  white-space: pre-wrap;
  border-radius: var(--mdc-snackbar-container-shape);
}

// Tooltips
.allergen-tooltip {
  --mdc-plain-tooltip-container-color: gray;
  --mdc-plain-tooltip-supporting-text-size: 16px;
}

.arrival-calendar-tooltip {
  --mdc-plain-tooltip-container-color: #3a545f;
  --mdc-plain-tooltip-supporting-text-size: 16px;
}

// Dropdowns
.icon-style {
  color: $icon-gray;
  transition: transform 200ms ease-in-out;
}

.arrow-orientation {
  transform: rotate(180deg);
}
